extends layout

block content
	main
		header.header-dynamic
			h2= title
			div.btn-container
				a.card-btn.btn-update(href=item.url +'/update') Update Category
				a.card-btn.btn-delete(href=item.url +'/delete') Delete Category

		table 
			tr 
				th #
				th Size
				th Color
				th Stock
			-var count = 0
			each itemInstance in itemInstanceList 
				-count += 1
				tr
					td(class='td-center')= count
					td(class='td-center')= (!(itemInstance.size == 'false')) ? itemInstance.size : '/'
					td(class='td-center')= itemInstance.color
					td(class='td-center')= itemInstance.stock
